.mainHeader{
    background-color: #ffffff;
    position: sticky;
    top:0;
    z-index: 99999;
    padding: 0 0 20px 0;
 
}
.header-search{
  display:flex ;
  align-items: center;
  flex: 1;
 margin-top: 20px;
 margin-left: 30px;
 border-radius: 30px 0px 0px 10px !important;
 width: 600px;
 border-color: #948c8c;

}
.header-search-icon{
    height: 50px;
    padding: 5px;
    background-color: #2E2E2E;
    color: #fff !important;
    width: 130px;
    margin-top: 22px;
    border-radius: 0px 5px 5px 0px;
    border-width: 10px;
    
    
  }
  
.search-field{
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-right: 0;
}





/* button design  */
.button-design{
  height: 40px;
  background-color:#2E2E2E;
  padding-right: 10px;
  
}

.button-design:hover.a{
  text-decoration: none;
}


.header-logo{
    margin-left: 45px;

}
.title-one{
    font-size: 50px;
    font-weight: bolder;
    color: #2E2E2E;
}
.title-two{
    font-size: 50px;
    font-weight: bolder;
    color: #20A65B;
}
.title:hover{
    text-decoration: none;
}
.box-size{
  margin-top: 16px;
  margin-left: 20px;
}